In [ ]:
#print out data in the excell sheet
import pandas as pd
excel_file='data_handling.xlsx'
df = pd.read_excel(excel_file)
print(df)

In [51]:
#print out the various columns in the spread sheet
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
#the diffent data types.int64 and float for numerical data and object for categorical data
print(df.info())

In [ ]:
print(df.head(5))
print(df.tail(5))

In [ ]:
#function to identify column with both numeric and alpha numeric characters
print(df)
print(df['Name'].str.isalnum())

In [ ]:
print(df['Sex'].str.isalnum())

In [ ]:
print(df['Ticket'].str.isalnum())

In [ ]:
print(df['Cabin'].str.isalnum())

In [ ]:
print(df['Embarked'].str.isalnum())

In [ ]:
print(df.isnull().any())

In [ ]:
print(df.info())

In [ ]:
#number 9 (remove all empty values)
df2=df.dropna()
print(df2)

In [ ]:
#number 10
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
excel_file= "data_handling.xlsx"
df = pd.read_excel(excel_file)  #usecols=[1,2,3,6,7,8],names=["Passengers","Survived","Pclass","Age","SibSp","Parch","Embarked"],skiprows=1,index_col=0,nrows=20)
df.dropna(inplace=True)
df2=df.loc[:,["PassengerId","Survived","Pclass","Age","SibSp","Parch"]]
print(df2)
s=sns.heatmap(df2,linewidths=.5,cmap="YlGnBu",linecolor="black")
plt.title("TITANIC DEATH RATE")
plt.show()

In [ ]:
print(df2.mean)

In [ ]:
print(df2.max)

In [ ]:
excel_file='data_handling.xlsx'
df = pd.read_excel(excel_file)
df["Sex"].replace(['male','female'],[0,1],inplace=True)
df["Embarked"].replace(['S','C','Q'],[0,1,2],inplace=True)
df.plot(x="PassengerId",y=["Sex","Pclass","Embarked"],kind="bar")

In [ ]:
#scatterplot
df.plot(kind='scatter', x='Age', y='Fare', 
title='fare per age of passenger\n Titanic', s=0.9)